/* Fonts */

@font-face {
   font-family: Quasith-Regular;
   src: url(../fonts/Quasith-Regular.otf);
}

@import url(https://fonts.googleapis.com/css?family=Exo:400,200italic);



.container-fluid{
    width: 80%;
}

#welcome{
    text-align: center;
    padding-top: 10%;
    font-family: "Quasith-Regular";
    color: white;
}

html, body{
	font-size:18px;
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background: whitesmoke;
}


#have{
    text-align: center;
    padding-bottom: 10%;
    font-family: "Quasith-Regular";
    color: white;
}

.post-info{
	font-style: italic;
	color: #999;
	font-size: 85%;
}

.spacing {
    padding-top: 20px;
}

.post-buttons {
	text-align: right;
}

.post-image .img-responsive{
    margin: 0 auto;
}

.detail_header{
    text-shadow: 3px 3px #000000;
    font-weight: 800;
    font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

#detail_title{
    text-align: center;
    text-shadow: 2px 2px gainsboro;
    font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    color: black;
}

#index_image{
    max-height: 450px;
}