{% extends "main/base.html" %} {% load staticfiles %} {% load i18n %}{% load crispy_forms_tags %} 
{% block title %} {{comment.content}} {% endblock title %}
{% block body_class %}{{ block.super }} post_detail{% endblock %} 
{% block content_title %}
<h2>View post</h2> {% endblock %} 

{% block content %}
<br><br><br><br>
<!-- Main Content -->
<div class="container">
    <div class="row">
        <div>
            <div class="col-md-2"></div>
            <div class="formBlock col-md-8 text-justify">
                    <p>{{ comment.content }}</p>
                    <footer>via {{ comment.user }} | {{ comment.timestamp|timesince }} ago {% if comment.children.count > 0 %} | {{ comment.children.count }} Comment{% if comment.children.count > 1 %}s{% endif %}{% endif %}
                        <br>
                        <br>
                    </footer>
                        {% for child_comment in comment.children reversed %}
                        <blockquote>
                            <p>{{ child_comment.content }}</p>
                            <footer>via {{ child_comment.user }} | {{ child_comment.timestamp|timesince }} ago</footer>
                        </blockquote>
                        {% endfor %}
                        <form method="POST" action="."> {% csrf_token %} {{ comment_form|crispy }}
                            <input type='hidden' name='parent_id' value='{{ comment.id }}'>
                            <input type='submit' value='Reply' class='btn btn-default'>
                        </form>
                <hr/>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
</div>
<hr>
<style type="text/css">
.textarea {
    height: 64px !important;
}
</style>
{% endblock %}
