{% extends "main/base.html" %} {% load staticfiles %} {% load crispy_forms_tags %}{% block title %} Chat {% endblock title %} {% block content %}
<!-- WELCOME SECTION -->
<br>
<br>
<br>
<!-- WELCOME SECTION -->
<!-- Main Content -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            {% if request.user.is_authenticated %}
            <div id="div-messages" class="row">
                <blockquote>
                    {% for object in messages reversed %} <b>{{object.user}}:</b> {{ object.message }}
                    <br> {% comment %}
                    <footer>{{object.timestamp}}</footer>
                    {% endcomment %} {% empty %}
                    <p>Sorry, no messages.</p>
                    {% endfor %}
                </blockquote>
            </div>
            <tr></tr>
            <div class="row">
                <form id="chat-form" method="POST" action="{% url 'message' %}">
                    {% csrf_token %}
                    <div class="input-group">
                        <input id="message-bar" class="form-control" type="text" placeholder="Send a message..">
                        <span class="input-group-btn">
                            <button id="message-button" class="btn btn-info" type="text">Send</button>
                        </span>
                    </div>
                </form>
            </div>
            {% else %}
            <div class="text-center"><br><br><br><br><br><br><br><hr>
                <h3>You have to be logged in.</h3>
                <h4>Go and <a href="{% url 'registration_register' %}">Register</a> if you haven't already.</h4><hr><br><br><br><br><br><br><br><br>
            </div>
            {% endif %}
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
<br>
<script type="text/javascript">
$("#chat-form").on('submit', function(event) {
    event.preventDefault();
    $.ajaxSettings.traditional = true;
    $.ajax({
        url: '{% url "message" %}',
        type: 'POST',
        data: {
            csrfmiddlewaretoken: '{{ csrf_token }}',
            message: $("#message-bar").val(),
        },

        success: function(response) {
            $("#div-messages").load(' #div-messages', function() {
                $(this).children().unwrap();
            });
            $("#message-bar").val("");
        }

    });
});

$(document).ready(function() {
    $('#message-button').attr('disabled', 'disabled');
    $('#message-bar').keyup(function() {
        if ($(this).val() != '') {
            $('#message-button').removeAttr('disabled');
        } else {
            $('#message-button').attr('disabled', 'disabled');
        }
    });
    $("#div-messages").keyup(function() {
        $(this).load(' #div-messages', function() {
            $(this).children().unwrap();
        });
    });

});

function refreshPage() {
    $("#div-messages").load(' #div-messages', function() {
        $(this).children().unwrap();
    });
}

$(function() {
    refreshTimer = setInterval(refreshPage, 2000);
});
</script>
{% endblock content %}
