{% extends "main/base.html" %} {% load static %} {% block title %} About {% endblock title %} {% block content %}
<!-- WELCOME SECTION -->
<div class="jumbotron img-responsive" style="background-image: url({% static 'img/about-bg.jpg' %}) ; background-size: cover;">
    <div class="container">
        <h1 id="welcome">About FateMetric</h1>
        <h3 id="have">What's the deal?</h3>
    </div>
</div>
<!-- WELCOME SECTION -->
<!-- Main Content -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 text-justify">
            <br> {% comment %}
            <p>FateMetric is currently in <b>pre-alpha</b>.</p>
            It's currently a simple blog where a person can log in, make a post, view other posts and even comment on them.</p>
            <p>Besides the blog, there are plans to release further features as soon as possible. Simple features are still lacking, such as the simple "Like" feature, "Dislike", "Comment" as well as the "Add Category" feature. But aside from these features, we assume will be straightforward to make, there are more demanding features, such as the "Chat" application and "Games" application.</p>
            <p>The "Chat" one is easily comprehensible, but the "Games" one is planned to be more of a platform which allows others to upload games, primarily made using <a href="https://unity3d.com/"><i>Unity</i></a>.</p>
            <p>Furthermore, with regard to the blog, it is recommended that the posts be unique, in the sense that they provide original content, a creative view or opinion on a certain subject or material.</p>
            <p>Thank you for using this website, we hope you enjoy the content provided by some of our users and/or staff.</p>
            <p>For more information, feel free to contact us using the feature at the bottom of the page.</p>
            {% endcomment %}
            <p>FateMetric is currently in an <b>alpha</b> state and perhaps shall remain in such.</p>
            <p>There is a <a href="https://github.com/AquaSolid/FateMetricWebsite"><i>GitHub repository</i></a> link provided at the bottom of the page, in the footer.</p>
            <p>FateMetric is powered by the Python framework, <a href="https://www.djangoproject.com/"><i>Django</i></a>. It's contains a blog where a person can log in, make a post, view other posts and even comment on them.</p>
            <p>
                Each post contains a comment thread which can be accessed by clicking the "Comment" button featured on the home page for each individual post, as well as a "Like" and "Dislike" button for the same one appropriately.</p>
            <p>Furthermore, with regard to the blog, while making a post it is recommended that the posts be unique, in the sense that they provide original content, a creative view or opinion on a certain subject or material.</p>
            <p>Thank you for using this website, we hope you enjoy the content provided by some of our users and/or staff.</p>
            <p>
                For more information, feel free to contact us using the feature at the bottom of the page.</p>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
<hr> {% endblock content %}
