{% extends 'main/base.html' %} {% load staticfiles %} {% load crispy_forms_tags %} {% block title %}FateMetric{% endblock title %} {% block content %} {% if not user.is_authenticated %}
<!-- WELCOME SECTION -->
<div class="jumbotron" style="background-image: url({% static 'img/leather-slippers.jpg' %}) ; background-size: 100%;">
    <div class="container">
        <h1 id="welcome">Welcome to FateMetric</h1>
        <h3 id="have">Join. Search. Enjoy.</h3>
    </div>
</div>
<!-- WELCOME SECTION -->
{% else %}
<br>
<hr> {% endif %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 text-left">
            {% if request.user.is_authenticated %}
            <!-- Trigger the modal with a button -->
            <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#myModal">Add a category</button>
            <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Create a category</h4>
                        </div>
                        <div class="modal-body">
                            <form method='POST' action='' enctype='multipart/form-data'>
                                {% csrf_token %} {{ categories_form|crispy }}
                                <input type='submit' class='btn btn-default btn-block' value='Create Category' />
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <hr> {% endif %}
            <b>Categories:</b>
            <br>
            <br> {% for category in categories reversed %}
            <ul>
                <li>{{category.category}}</li>
            </ul>
            {% endfor %}
            <br>
        </div>
        <div class="col-md-7 text-justify">
            {% for post in posts %}
            <div class="post-detail-item">{% include "blog/featuredpost.html" %} </div>{% endfor %}
            <div class="pagination">
                <span class="step-links">
        {% if queryset.has_previous %}
            <a href="?{{ page_request_var }}={{ querysetlist.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Previous</a>
        {% endif %}

        <span class="current">
            Page {{ queryset.number }} of {{ queryset.paginator.num_pages }}.
        </span> {% if queryset.has_next %}
                <a href="?page={{ queryset.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Next</a> {% endif %}
                </span>
            </div>
        </div>
        <div class="col-md-3 text-justify">
            <a href="{% url 'create' %}">
                <button class="btn btn-primary btn-block">
                    Make a Post
                </button>
            </a>
            <hr>
            <div class="text-center">
                <p>***************</p>
                <p>************</p>
                <p>*******</p>
                <p>AdSpace</p>
                <p>*******</p>
                <p>************</p>
                <p>***************</p>
            </div>
            <hr>
            <form method="GET" action="">
                <div class="input-group">
                    <input id="home_search" class="form-control" type="text" name='q' placeholder="Search posts" value="{{ request.GET.q }}">
                    <span class="input-group-btn">
                            <button class="btn btn-default" type="text">Search</button>
                        </span>
                </div>
            </form>
            <br>
            <br>
            <br>
        </div>
    </div>
</div>
{% endblock content %}
