{% extends 'main/base.html' %} {% load staticfiles %} {% block title %}FateMetric{% endblock title %} {% block content %} {% if not user.is_authenticated %}
<!-- WELCOME SECTION -->
<div class="jumbotron" style="background-image: url({% static 'img/leather-slippers.jpg' %}) ; background-size: 100%;">
    <div class="container">
        <h1 id="welcome">Welcome to FateMetric</h1>
        <h3 id="have">Join. Search. Enjoy.</h3>
    </div>
</div>
<!-- WELCOME SECTION -->
{% else %}
<br>
<hr> {% endif %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 text-left">
            <a href="{% url 'create' %}">
                <button class="btn btn-primary btn-block">
                    Add a category
                </button>
            </a>
            <hr><b>Categories:</b>
            <br>
            <br> {% for category in categories %}
            <ul>
                <li>{{category.category}}</li>
            </ul>
            {% endfor %}
            <br>
        </div>
        <div class="col-md-7 text-justify">
            {% for post in posts %} {% include "blog/featuredpost.html" %} {% endfor %}
            <div class="pagination">
                <span class="step-links">
        {% if queryset.has_previous %}
            <a href="?{{ page_request_var }}={{ querysetlist.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Previous</a>
        {% endif %}

        <span class="current">
            Page {{ queryset.number }} of {{ queryset.paginator.num_pages }}.
        </span> {% if queryset.has_next %}
                <a href="?page={{ queryset.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Next</a> {% endif %}
                </span>
            </div>
        </div>
        <div class="col-md-3 text-justify">
            <a href="{% url 'create' %}">
                <button class="btn btn-primary btn-block">
                    Make a Post
                </button>
            </a>
            <hr>
            <div class="text-center">
                <p>***************</p>
                <p>************</p>
                <p>*******</p>
                <p>AdSpace</p>
                <p>*******</p>
                <p>************</p>
                <p>***************</p>
            </div>
            <hr>
            <form method="GET" action="">
                <div class="input-group">
                    <input id="home_search" class="form-control" type="text" name='q' placeholder="Search posts" value="{{ request.GET.q }}">
                    <span class="input-group-btn">
                            <button class="btn btn-default" type="text">Search</button>
                        </span>
                </div>
            </form>
            <br> 
            <br>
            <br>
        </div>
    </div>
</div>
{% endblock content %}
