{% load staticfiles %}
<nav class="navbar navbar-inverse navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            <a href="{% url '' %}">
                <img class="nav" src="{% static 'img/ic_launcher.png' %}"></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="{% url '' %}"><b>Home</b></a></li>
                <li><a href="{% url 'about' %}"><b>About</b></a></li>
                <li><a href="#"><b>Chat</b></a></li>
                <li><a href="#"><b>Games</b></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                <li>
                    <a href=""><b>Welcome, {{user}}</b></a>
                </li>
                {% endif %} 
                {% if not user.is_authenticated %}
                <li>
                    <a href="{% url 'registration_register' %}"><b>Register</b></a>
                </li>
                <li>
                    <a href="{% url 'auth_login' %}"><b>Log in</b></a>
                </li>
                {% else %}
                <li>
                    <a href="{% url 'auth_logout' %}"><b>Log out</b></a>
                </li>
                {% endif %}
            </ul>
            </ul>
        </div>
    </div>
</nav>
